/* Dracula Color Palette */
:root {
    --background: #282a36;
    --line: #44475a;
    --foreground: #f8f8f2;
    --comment: #6272a4;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;
}

body {
    background-color: var(--background);
}

h1 {
    color: var(--pink);
}

h4 {
    color: var(--green);
}

h5,
p {
    color: var(--foreground);
}

a {
    color: var(--foreground);
    text-decoration: none;
}

.bi {
    color: var(--green);
    font-size: 3vw;
}

.icone-link:hover {
    color: var(--foreground);
}

.link:hover {
    color: var(--green);
}

.foto {
    width: 20%;
}

.preview {
    width: 400px;
    height: 250px;
}

p {
    text-align: justify;
    text-justify: inter-word;
}